.header {
  display:inline-block;
  padding-right: 10px;
  color: black;
  font-family: Verdana;
  font-weight: bold;
}
 h1 {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  position: fixed;
 }

.logo{
  display: flex;
  align-items: center;
}

.logo span {
  padding-left: 10px;
  padding-bottom: 10px;
}
