.header {
  display:inline-block;
  padding-right: 10px;
  color: black;
  font-family: Verdana;
  font-weight: bold;
}
 h1 {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 5px 5px;
 }

.logo{
  display: flex;
  align-items: center;
}

.logo span {
  padding-left: 10px;
  padding-bottom: 10px;
}
 .main {
   display: flex;
   flex-direction: column;
 }

 .large p{
   border: 2px solid black;
    flex-direction: column;
    width: 630px;
 }

.medium p{
  border: 2px solid black;
  flex-direction: column;
  width: 300px;
}

.small p, img{
  border: 2px solid black;
  flex-direction: column;
  width: 240px;
}
